.button
.general-title
.general-title-2 span
.main-title
footer h5
	font-weight: bold
.lets-bq span
.day-title
.cost span
.timer-title
	font-weight: 900
.carousel-inner .item img.text-rev-img
	height auto
.carousel-control
	top calc(50% - 40px)