#main
	padding 110px 0 130px
	background-color: #FFFBFB
	background-image url('../img/images/janna-main.png'), url(../img/backs/main-bg.png)
	background-repeat no-repeat, no-repeat
	background-position: right top, center
	background-size: contain, cover
.pre
	font-size: 33px
	color: #0c2902
.main-title
	font-family: CB
	font-size: 41px
	color:  #825ba3
	margin 85px 0
	line-height: 1.1;
	small
		display block
		font-size: 32px
		margin-top: 25px
.button-wrapper-main
	text-align: left 