#for
	padding 0 0 30px
.for-text
	margin: 0 0 50px
	min-height 67px
	padding-left: 90px
	background-image url('../img/icons/for-icon.png')
	background-repeat no-repeat
	background-position: left top
	color #0c2902