#author
	padding 0 0 50px
	background-image url(../img/images/janna.png)
	background-repeat no-repeat
	background-position: top right
.author-list
	width 100%
	max-width 630px
	li
		list-style none
		position relative
		padding-left: 7px
		margin-bottom: 5px
		color #2a251d
		&:before
			content ''
			display block
			position: absolute
			top 15px
			left 0
			width 3px
			height 3px
			border-radius: 50px
			background-color: #2a251d
.certs
	padding 40px
	margin: 55px 0 0
	border: 3px dotted #855ba3
	width 100%
	max-width 516px
	&-title
		font-size: 24px;
		font-family: C
		color: rgb(133, 91, 163);
		line-height: 1.25;
		margin: 0 0 30px
.cert-img
	width 100%
	height auto
	display block
	margin auto
	object-fit: cover
	object-position: center