#last
	@extend #lets
	padding 220px 0 90px
	&:before
		@extend #lets:before
	&:after
		content none
.general-title-2-last
	span
		font-size: 29px
.last-text
	text-align: center
	margin 0 0 40px
	color #fff
	font-size: 20px
	line-height: 48px