@media screen and (min-width 1900px)
	#main
		background-position: right 35% top, center
	#author
		background-position: top right 35%
@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	#main
		background-position: right 34% top, center
	#author
		background-position: top right 35%
@media screen and (max-width 1199px)
	.main-title
	.author-list
		max-width 530px
	.carousel-control
		top: auto
		bottom: -20px
@media screen and (max-width 991px)
	header
		padding 15px 0
	#logo
		display block
		margin 0 auto 3px
		float: none
	.contacts
		float: none
		text-align: center
	.contacts
	.contact
		line-height: 18px
	#main
		padding 60px 0
	.lets-bq
		padding 30px
	.day
		min-height 160px
		padding 44px 20px 20px
	.day
		&-1
		&-2
		&-3
		&-6
		&-7
		&-8
			.day-title
				font-size: 26px;
				height: 49px;
				width: 49px;
				line-height: 46px;
				top: -26px;
		&-8
			.day-text
				br
					display: none
	#author
		background-size: 430px
	.carousel-inner .item img.text-rev-img
		height 192px
@media screen and (max-width 767px)
	#main
		background-image url(../img/backs/main-bg.png)
		background-repeat no-repeat
		background-position: center
		background-size: cover
		text-align: center
	.main-title
		max-width 100%
		margin 30px 0 50px
	.button-wrapper-main
		text-align: center
	.for-text
	.lets-text
		margin 0 0 30px
	.button-wrapper-for
	.button-wrapper-lets
		margin: 30px 0 0
	.day
		min-height 1px
		width 100%
		max-width 330px
		padding 20px
		border: 3px dotted #8F5BA7
		margin 0 auto 25px
	.day-1 .day-title, .day-2 .day-title, .day-3 .day-title, .day-6 .day-title, .day-7 .day-title, .day-8 .day-title
		font-size: 32px;
		height: 69px;
		width: 68px;
		line-height: 66px;
		top: -36px;
	.day-title
		top 10px
		position: static
		margin 0 auto 15px
	.day-8 .day-text br
		display block
	#author
		background-position: top right
	.author-list
		margin 200px 0 0
	.certs
		padding 20px
		margin: 20px 0 0
	#text-revs
		margin 0 auto 50px
@media screen and (max-width 485px)
	#logo
		width 80px
	.contact
		font-size: 12px
		line-height: 14px
		padding-left: 18px
		background-size: contain
		&&-email
			padding-left: 24px
	#main
		padding 40px 0
	.pre
		font-size: 20px
	.main-title
		font-size: 32px
		small
			font-size: 24px
			margin-top: 10px
	.general-title
		font-size: 26px
		margin: 0 0 40px
	.button-wrapper-for, .button-wrapper-lets
		margin 20px auto 0
	#last:before, #lets:after, #lets:before
		height 100px
	#lets
		padding 100px 0
	.lets-bq
		padding 20px
		margin 0 0 30px
	.general-title-2
		margin-bottom: 30px
		span
			font-size: 22px
	.cost
		font-size: 24px
		margin-bottom: 20px
		span
			font-size: 32px
			margin-top: 5px
		&-today
			margin-bottom: 40px
	.timer-title
		font-size: 30px
		margin 20px 0 0
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 30px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.certs-title
		font-size: 22px
		margin 0 0 20px
	#plan
	#author
	#revs
		padding 0 0 40px
	.carousel-inner .item img.text-rev-img
		height 100px
	#last
		padding 100px 0 50px
	.last-text
		margin 0 0 30px
		line-height: 1.2
	footer
		padding 15px 0
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px 5px
	footer p
	.conditions
		font-size: 12px
@media screen and (max-width 385px)
	body
		font-size: 18px
		line-height: 1.4
	.button
		font-size: 22px
		line-height: 22px
	#main
		padding 30px 0 40px
	.main-title
		font-size: 28px
		margin 20px 0 30px
		small
			font-size: 22px
	.general-title
		font-size: 24px
		margin 0 0 30px
	#for
		padding 0 0 20px
	.for-text
	.lets-text
		min-height 1px
		padding 75px 0 0
		background-position: top center
		text-align: center
	.button-wrapper-for, .button-wrapper-lets
		margin 10px auto 0
	.lets-bq
		text-align: center
		padding 15px
	.cost
		// font-size: 22px
		// margin-bottom: 10px
		span
			// font-size: 28px
			margin-top: 0
	.certs
		padding 15px
	.certs-title
		font-size: 20px
		margin 0 0 10px
	#author, #plan, #revs
		padding 0 0 30px
	.carousel-inner .item img.text-rev-img
		height 70px
	.carousel-indicators
		width 90%