section#for
	+gt('','Данный тренинг необходим Вам, если:')
	.container
		.row
			.col-md-4.col-sm-6
				p.for-text Трудно работаете, много делаете, мало получаете, но хотите жить легче, радостнее, изобильнее
			.col-md-4.col-sm-6
				p.for-text Истощены долгами и кредитами и не знаете, как выйти на новый уровень дохода
			.col-md-4.col-sm-6.col-md-offset-0.col-sm-offset-3
				p.for-text Не умеете получать желаемое и устали от борьбы с собой
		.row
			.col-md-6.col-sm-6
				p.for-text Не имеете времени работать над собой, но хотели бы иметь быструю, супер эффективную методику по исполнению желаемого
			.col-md-6.col-sm-6
				p.for-text Хотите без страха распрощаться с токсичными отношениями, либо завершить устаревшие негативные процессы и проблемы
		+b('button-wrapper-for','','#plan','Участвовать в тренинге')