section#lets
	.container
		p.lets-bq Я знаю, как договариваться с пространством, как передавать своему подсознанию сигналы для того, чтобы привлекать в реальность нужные мне события. Это 
			span называется квантовым управлением 
			| пространства. Зная пошаговый алгоритм действий, можно научиться не только манифестировать желаемое, но и выйти  на более высокий уровень жизни.
		+gt2('','Тренинг позволит Вам:')
		.row
			.col-md-6.col-sm-6
				p.lets-text.lets-text-1 Понять, почему Ваши желания не исполнялись, и научиться работать с желаниями так, чтобы всё задуманное начало сбываться
			.col-md-6.col-sm-6
				p.lets-text.lets-text-2 Научиться работать с препятствиями, блокирующими исполнение желаний
		.row
			.col-md-6.col-sm-6
				p.lets-text.lets-text-3 Привлекать в свою жизнь деньги, здоровье, хорошие отношения
			.col-md-6.col-sm-6
				p.lets-text.lets-text-4 Получить принципиально новый авторский метод к осуществлению задуманного
		+b('button-wrapper-lets','','#plan','Забронировать место')