section#plan
	+gt('','Программа тренинга')
	.container
		.row
			.col-md-4.col-sm-4
				.day.day-1
					h4.day-title 1
					p.day-text Устранение блоков на получение желаемого
			.col-md-4.col-sm-4
				.day.day-2
					h4.day-title 2
					p.day-text Ритуал на погашение кредитов и долгов
			.col-md-4.col-sm-4
				.day.day-3
					h4.day-title 3
					p.day-text Ритуал на привлечение отношений
		.row
			.col-md-4.col-sm-6.col-md-offset-2
				.day.day-4
					h4.day-title 4
					p.day-text Ритуал на привлечение желаемого по запросу
			.col-md-4.col-sm-6
				.day.day-5
					h4.day-title 5
					p.day-text Ритуал монетизации (увеличиваем доход в 2 раза)
		.row
			.col-md-4.col-sm-4
				.day.day-6
					h4.day-title 6
					p.day-text Договор с эгрегором денег
			.col-md-4.col-sm-4
				.day.day-7
					h4.day-title 7
					p.day-text Ритуал на привлечение помощи женского рода
			.col-md-4.col-sm-4
				.day.day-8
					h4.day-title 8
					p.day-text Манифестация здоровья (код молодости и здоровья)
		.row
			.col-md-4.col-sm-6.col-md-offset-2
				.day.day-9
					h4.day-title 9
					p.day-text Ритуал на обновление жизненной энергии
			.col-md-4.col-sm-6
				.day.day-10
					h4.day-title 10
					p.day-text Ритуал на предназначение и поиск своего пути
		+b('button-wrapper-plan','','#!','Записаться на курс','_blank')