section#author
	+gt('','О тренере: Жанна Абрамова')
	.container
		ul.author-list
			li Мастер практической психологии, факультет клинической психологии Академии при президенте РФ (РАНХиГС)
			li Специалист по метафорическим картам (МАК, Израиль)
			li Системный расстановщик (Германия)
			li Процессор Техники РПТ (Саймон Роуз), Тетахилинга
			li Гипнотерапевт (Московский институт гипноза)
			li Коуч, женский тренер, автор трансформационных программ: МАК «Ключ к неизведанному», «Восстановление справедливости», «Отправная точка заболеваний», «За гранью разума», «Сам себе доктор», «Метафизика — Ключ к исцелению Души и тела», «Управление реальностью», «Мышление будущего», трансформационный женский тренинг «Анатомия Отношений», «От перца к сердцу», «Как получать подарки», «Замуж за 2 недели», «Деньги в голове», «Дуэль с ленью», «Возврат ваших вложений», «Третий лишний или как устранить соперницу»
		.certs
			h4.certa-title Сертификаты:
			.row
				.col-md-6.col-sm-6
					a.cert-link(href="img/certs/cert-1.jpg", data-fancybox="certs")
						img.cert-img(src="img/certs/cert-1.min.jpg", alt="Сертификат 1")
				.col-md-6.col-sm-6
					a.cert-link(href="img/certs/cert-2.jpg", data-fancybox="certs")
						img.cert-img(src="img/certs/cert-2.min.jpg", alt="Сертификат 2")